/*!
 * muir-core-react-components v0.10.0-alpha.4
 * Apache-2.0 Licensed
 */
.ml-fade-enter, .ml-fade-appear {
  opacity: 0.01;
}

.ml-fade-enter.ml-fade-enter-active, .ml-fade-appear.ml-fade-appear-active  {
  opacity: 1;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.ml-fade-exit {
  opacity: 1;
}

.ml-fade-exit.ml-fade-exit-active {
  opacity: 0.01;
}
.ml-search-result .panel-body {
  overflow: hidden;
  height: 207px;
}
.ml-fade-slide-enter {
  opacity: 0.01;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  /* transform: scaleY(0); */
}

.ml-fade-slide-appear {
  opacity: 0.01;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  /* transform: scaleY(0); */
}

.ml-fade-slide-enter.ml-fade-slide-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  /* transform: scaleY(1); */
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.ml-fade-slide-appear.ml-fade-slide-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  /* transform: scaleY(1); */
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.ml-fade-slide-exit {
  opacity: 1;
  /* transform: scaleY(1); */
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.ml-fade-slide-exit.ml-fade-slide-exit-active {
  opacity: 0.01;
  /* transform: scaleY(0); */
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}
